:root {
    --fonte-principal: "Open Sans";
}

.cabecalho {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    background-color: #ff720d;
}

body {
    background-color: #422006;
}

.titulo-principal {
    justify-content: space-around;
    display: flex;
    text-align: center;
    padding: 15px;
    color: rgb(0, 0, 0);
    background-color: #ff720d;
    font-family: var(--fonte-principal);
    font-size: larger;
    color: white;
}


.colunas{
    padding: 100px 0;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: whitesmoke;
    
  }

  .coluna {
    flex: 1;
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    font-family: var(--fonte-principal);
    width: 50%;
  }

  
footer {
    text-align: center;
    padding: 20px 0;
    background-color: whitesmoke;
}